@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
 
}

   *{box-sizing: border-box; 
}
body{
    background-color:steelblue;
    font-family: "Roboto",sans-serif;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
    height:100vh;
    overflow-x: hidden;/*cacher le scroll du bas*/ 
}
div{
    position:absolute;
    bottom:20px;
    background:rgba(0,0,0,0.1);
    padding:10px 20px;
    font-size:18px;
}
input{
    width:50px;
    padding:5px;
    font-size:18px;
    background-color:steelblue ;
    border:none;
    text-align: center;
}

input:focus{
    outline:none;
}