@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
 
}
*{
   box-sizing: border-box; 
}
body{
    background-color: #f6f7fb;
    font-family: 'Ubuntu', sans-serif;
    display:flex;
   
    align-items: center;
    justify-content: center;
    height: 100vh;
    Overflow: hidden;
    margin:0;
}
.bg{
    background: url("https://cdn.pixabay.com/photo/2018/08/11/10/42/action-3598415_1280.jpg") no-repeat center center/cover;
    position:absolute;
    top: 0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:-1;
    filter:blur(0px);
}
.loading-text{
  font-size:50px;
  color:white;
}
/*@Github:Faiza-Berrichi
        @2021*